<footer
  class="footer sm:footer-horizontal max-sm:justify-center bg-base-100 text-base-content p-10 shadow-sm"
>
  <aside>
    <img src="grabcat_navbar_logo.svg" alt="grabcat logo" class="w-50 h-12 mb-4" />
    <p class="text-lg">
      ©<span class="logo-grab text-lg ml-0.5">Grab</span
      ><span class="logo-cat text-lg">Cat</span> Transportation Ltd.
      <br />
      Providing reliable tech since 2025
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Company</h6>
    <a class="link link-hover"
      >About <span class="logo-grab">Grab</span><span class="logo-cat">Cat</span></a
    >
    <a class="link link-hover">Contact Us</a>
    <a class="link link-hover">Message Us</a>
    <a class="link link-hover">Careers</a>
  </nav>
  <nav>
    <h6 class="footer-title">Services</h6>
    <a class="link link-hover">Pick Up</a>
    <a class="link link-hover">Drop Off</a>
    <a class="link link-hover">Scheduled Rides</a>
    <a class="link link-hover">Vet Rides</a>
  </nav>
  <nav>
    <h6 class="footer-title">Bookings</h6>
    <a class="link link-hover">Ride Now</a>
    <a class="link link-hover">Solo Book</a>
    <a class="link link-hover">Group Book</a>
    <a class="link link-hover">Advance Book</a>
  </nav>
  <nav>
    <h6 class="footer-title">Legal</h6>
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
  </nav>
</footer>
