<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img src="grabcat_logo_icon.svg" class="max-w-sm rounded-full shadow-2xl" />
    <div>
      <h1 class="text-9xl font-bold mb-4">
        <span class="logo-grab">Grab</span> <span class="logo-cat">Cat</span>
      </h1>
      <h2 class="text-4xl font-italic">
        Your <span class="logo-cat">Cat's</span> Ride to the Vet, Sorted.
      </h2>
      <p class="py-4 text-xl mb-2">
        Getting your cat to the vet has never been this easy. GrabCat connects you with trusted,
        pet-friendly drivers who treat your feline like family — so every trip is calm, safe, and
        stress-free. Book a ride in seconds and leave the rest to us. Because your cat deserves the
        best ride in town.
      </p>
      <button class="btn btn-primary p-6 text-xl">Book Now!</button>
    </div>
  </div>
</div>
