<div class="hero min-h-screen">
  <div class="hero-content flex-col lg:flex-row space-y-5 lg:space-x-6 mt-18">
    <img
      src="grabcat_logo_icon.svg"
      class="xl:w-130 xl:h-130 rounded-full shadow-2xl sm:w-80 sm:h-80 md:w-100 md:h-100 lg:w-110 lg:h-110"
    />
    <div>
      <h1
        class="text-9xl font-bold mb-4 max-sm:text-6xl max-sm:text-center max-md:text-center max-md:text-6xl max-lg:text-7xl max-lg:text-center max-xl:text-8xl"
      >
        <span class="logo-grab">Grab</span> <span class="logo-cat">Cat</span>
      </h1>
      <h2
        class="text-4xl font-italic max-sm:text-3xl max-sm:text-center max-md:text-center max-lg:text-center"
      >
        Your <span class="logo-cat">Cat's</span> Ride to the Vet, Sorted.
      </h2>
      <p class="py-4 text-xl mb-2 max-sm:text-center max-md:text-center max-lg:text-center">
        Getting your cat to the vet has never been this easy. GrabCat connects you with trusted,
        pet-friendly drivers who treat your feline like family — so every trip is calm, safe, and
        stress-free. Book a ride in seconds and leave the rest to us. Because your cat deserves the
        best ride in town.
      </p>
      <div
        class="flex justify-start max-sm:justify-center max-md:justify-center max-lg:justify-center"
      >
        <button class="btn logo-grab-btn rounded-4xl p-6 text-xl">Book Now!</button>
      </div>
    </div>
  </div>
</div>
